# Á fazer
* Pré processamento para teste dos modelos

# Import KNN/SVM

In [28]:
#importanto bibliotecas

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model, preprocessing
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [29]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [30]:
print(train.shape)
train.head()

(3311925, 118)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,d7e73c5f-2db8-4089-9bee-d3a0e045f87f,1100023,Ariquemes,11,RO,31.0,F,0,1,1,...,B,A,A,B,A,A,C,A,B,B
1,668bf6e4-ddf7-4810-b31e-7d325e36de4d,3106200,Belo Horizonte,31,MG,23.0,F,1,3,1,...,A,A,A,B,A,A,C,A,B,B
2,951e80d6-ac9b-4ff2-8130-fcbc8ac78b16,3139409,Manhuaçu,31,MG,17.0,M,0,3,1,...,B,A,B,C,B,B,D,A,B,B
3,baf409f9-ddc6-4e82-9a4b-b64b579cd105,2506301,Guarabira,25,PB,16.0,M,1,1,1,...,B,A,A,B,A,A,E,A,A,B
4,9fd415ac-3421-44ce-810e-599545c3c025,2304400,Fortaleza,23,CE,19.0,M,1,1,1,...,B,A,A,E,B,B,C,B,B,B

In [31]:
print(test.shape)
test.head()

(1783345, 113)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,5d5b362b-7388-4ac6-81b3-23573e4e2d3a,2305506,Iguatu,23,CE,22.0,F,1,3,1,...,A,A,A,B,B,A,B,A,B,B
1,52356efd-3239-4cd2-a444-416625dfc560,3548500,Santos,35,SP,19.0,F,1,1,1,...,B,A,A,B,A,B,E,B,B,B
2,1ba42e9a-dd61-4405-9b08-79b728ad23c9,3552106,Socorro,35,SP,16.0,F,1,1,1,...,B,A,B,C,A,A,E,A,B,B
3,16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03,3541000,Praia Grande,35,SP,22.0,M,1,1,1,...,B,A,A,C,A,B,C,B,B,B
4,fa663d11-5052-4ab2-b771-3a3de3bdec55,4106902,Curitiba,41,PR,17.0,M,1,1,1,...,B,A,B,B,A,B,B,B,C,B

# Pré processamento

In [32]:
pd.set_option('display.max_rows', train.shape[0]+1)
print(train.shape[0])
train.isnull().sum(axis = 0).sort_values()/train.shape[0]

3311925

NU_INSCRICAO                   0.000000
SG_UF_PROVA                    0.000000
CO_UF_PROVA                    0.000000
NO_MUNICIPIO_PROVA             0.000000
CO_MUNICIPIO_PROVA             0.000000
IN_NOME_SOCIAL                 0.000000
IN_MATERIAL_ESPECIFICO         0.000000
IN_MOBILIARIO_ESPECIFICO       0.000000
IN_SALA_ACOMPANHANTE           0.000000
IN_SALA_ESPECIAL               0.000000
IN_SALA_INDIVIDUAL             0.000000
IN_MEDICAMENTOS                0.000000
TP_PRESENCA_CN                 0.000000
IN_SONDA                       0.000000
IN_SOROBAN                     0.000000
IN_MAQUINA_BRAILE              0.000000
IN_MEDIDOR_GLICOSE             0.000000
IN_PROTETOR_AURICULAR          0.000000
IN_LAMINA_OVERLAY              0.000000
IN_MOBILIARIO_OBESO            0.000000
IN_PROVA_DEITADO               0.000000
IN_CADEIRA_ACOLCHOADA          0.000000
IN_CADEIRA_CANHOTO             0.000000
IN_CADEIRA_ESPECIAL            0.000000
Q024                           0.000000
IN_MARCA_PASSO                 0.000000
IN_GUIA_INTERPRETE             0.000000
TP_PRESENCA_CH                 0.000000
TP_PRESENCA_MT                 0.000000
Q023                           0.000000
Q022                           0.000000
Q021                           0.000000
Q020                           0.000000
Q019                           0.000000
Q018                           0.000000
Q017                           0.000000
Q016                           0.000000
Q015                           0.000000
Q014                           0.000000
Q013                           0.000000
TP_PRESENCA_LC                 0.000000
Q012                           0.000000
Q010                           0.000000
Q009                           0.000000
Q008                           0.000000
Q007                           0.000000
Q006                           0.000000
Q005                           0.000000
Q004                           0.000000
Q003                           0.000000
Q002                           0.000000
Q001                           0.000000
TP_LINGUA                      0.000000
Q011                           0.000000
IN_APOIO_PERNA                 0.000000
IN_COMPUTADOR                  0.000000
IN_MESA_CADEIRA_RODAS          0.000000
IN_SURDO_CEGUEIRA              0.000000
IN_DEFICIENCIA_AUDITIVA        0.000000
IN_SURDEZ                      0.000000
IN_CEGUEIRA                    0.000000
IN_BAIXA_VISAO                 0.000000
IN_MESA_CADEIRA_SEPARADA       0.000000
IN_TREINEIRO                   0.000000
TP_ESCOLA                      0.000000
IN_DEFICIENCIA_FISICA          0.000000
TP_ANO_CONCLUIU                0.000000
TP_NACIONALIDADE               0.000000
TP_COR_RACA                    0.000000
TP_ESTADO_CIVIL                0.000000
TP_SEXO                        0.000000
SG_UF_RESIDENCIA               0.000000
CO_UF_RESIDENCIA               0.000000
NO_MUNICIPIO_RESIDENCIA        0.000000
CO_MUNICIPIO_RESIDENCIA        0.000000
TP_ST_CONCLUSAO                0.000000
IN_DEFICIENCIA_MENTAL          0.000000
Q025                           0.000000
IN_DISLEXIA                    0.000000
IN_IDOSO                       0.000000
IN_DEFICIT_ATENCAO             0.000000
IN_AMPLIADA_18                 0.000000
IN_LEDOR                       0.000000
IN_ACESSO                      0.000000
IN_SEM_RECURSO                 0.000000
IN_BRAILLE                     0.000000
IN_TRANSCRICAO                 0.000000
IN_AMPLIADA_24                 0.000000
IN_LIBRAS                      0.000000
IN_LACTANTE                    0.000000
IN_TEMPO_ADICIONAL             0.000000
IN_LEITURA_LABIAL              0.000000
IN_GESTANTE                    0.000000
IN_OUTRA_DEF                   0.000000
IN_VISAO_MONOCULAR             0.000000
IN_AUTISMO                     0.000000
IN_DISCALCULIA                 0.000000
IN_ESTUDA_CLASSE_HOSPITALAR    0.000000
NU_IDADE                       0.000010
CO_UF_NASCIMENTO               0.028552
SG_UF_NASCIMENTO               0.028552
CO_MUNICIPIO_NASCIMENTO        0.028552
NO_MUNICIPIO_NASCIMENTO        0.028552
NU_NOTA_LC                     0.230175
NU_NOTA_CH                     0.230175
TP_STATUS_REDACAO              0.230176
NU_NOTA_REDACAO                0.230176
NU_NOTA_CN                     0.271985
NU_NOTA_MT                     0.271985
TP_ENSINO                      0.435267
CO_MUNICIPIO_ESC               0.774941
NO_MUNICIPIO_ESC               0.774941
CO_UF_ESC                      0.774941
SG_UF_ESC                      0.774941
TP_DEPENDENCIA_ADM_ESC         0.774941
TP_LOCALIZACAO_ESC             0.774941
TP_SIT_FUNC_ESC                0.774941
CO_ESCOLA                      0.774941
dtype: float64

In [33]:
train_clean = train.drop(columns=['NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 
                   'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 
                   'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'CO_UF_ESC', 'TP_SIT_FUNC_ESC'])

In [34]:
test_clean = test.drop(columns=['NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 
                   'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025','TP_ENSINO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 
                   'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'CO_UF_ESC', 'TP_SIT_FUNC_ESC'])

In [35]:
print(train_clean.shape)
train_clean.head()

(3311925, 78)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_REDACAO
0,d7e73c5f-2db8-4089-9bee-d3a0e045f87f,1100023,11,31.0,F,0,1,1,3200607.0,32.0,...,1,1,1,426.5,487.4,530.9,415.3,1,1.0,680.0
1,668bf6e4-ddf7-4810-b31e-7d325e36de4d,3106200,31,23.0,F,1,3,1,3106200.0,31.0,...,1,1,1,463.0,452.3,456.6,407.2,0,1.0,520.0
2,951e80d6-ac9b-4ff2-8130-fcbc8ac78b16,3139409,31,17.0,M,0,3,1,3106200.0,31.0,...,1,1,1,381.7,474.4,530.6,622.8,0,1.0,600.0
3,baf409f9-ddc6-4e82-9a4b-b64b579cd105,2506301,25,16.0,M,1,1,1,2506301.0,25.0,...,1,1,1,426.7,343.9,444.2,507.0,1,1.0,660.0
4,9fd415ac-3421-44ce-810e-599545c3c025,2304400,23,19.0,M,1,1,1,2304400.0,23.0,...,1,1,1,623.7,609.1,637.1,805.3,0,1.0,840.0

In [36]:
print(test_clean.shape)
test_clean.head()

(1783345, 73)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,IN_MATERIAL_ESPECIFICO,IN_NOME_SOCIAL,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,TP_LINGUA,TP_STATUS_REDACAO
0,5d5b362b-7388-4ac6-81b3-23573e4e2d3a,2305506,23,22.0,F,1,3,1,2305506.0,23.0,...,0,0,2305506,23,0,0,0,0,1,NaN
1,52356efd-3239-4cd2-a444-416625dfc560,3548500,35,19.0,F,1,1,1,3548500.0,35.0,...,0,0,3548500,35,1,1,1,1,0,1.0
2,1ba42e9a-dd61-4405-9b08-79b728ad23c9,3552106,35,16.0,F,1,1,1,3552106.0,35.0,...,0,0,3552106,35,1,1,1,1,1,1.0
3,16fa0f84-a88f-43e6-bcbb-8d5ea41e5f03,3541000,35,22.0,M,1,1,1,3541000.0,35.0,...,0,0,3541000,35,1,1,1,1,0,1.0
4,fa663d11-5052-4ab2-b771-3a3de3bdec55,4106902,41,17.0,M,1,1,1,4106902.0,41.0,...,0,0,4106902,41,1,1,1,1,0,1.0

In [41]:
train_clean = train_clean.dropna()
print(train_clean.shape)
train_clean.head()

(2336557, 78)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_REDACAO
0,d7e73c5f-2db8-4089-9bee-d3a0e045f87f,1100023,11,31.0,0,0,1,1,3200607.0,32.0,...,1,1,1,426.5,487.4,530.9,415.3,1,1.0,680.0
1,668bf6e4-ddf7-4810-b31e-7d325e36de4d,3106200,31,23.0,0,1,3,1,3106200.0,31.0,...,1,1,1,463.0,452.3,456.6,407.2,0,1.0,520.0
2,951e80d6-ac9b-4ff2-8130-fcbc8ac78b16,3139409,31,17.0,1,0,3,1,3106200.0,31.0,...,1,1,1,381.7,474.4,530.6,622.8,0,1.0,600.0
3,baf409f9-ddc6-4e82-9a4b-b64b579cd105,2506301,25,16.0,1,1,1,1,2506301.0,25.0,...,1,1,1,426.7,343.9,444.2,507.0,1,1.0,660.0
4,9fd415ac-3421-44ce-810e-599545c3c025,2304400,23,19.0,1,1,1,1,2304400.0,23.0,...,1,1,1,623.7,609.1,637.1,805.3,0,1.0,840.0

In [42]:
train_clean.columns

Index(['NU_INSCRICAO', 'CO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'IN_TREINEIRO',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO'],
      dtype='object')

In [38]:
test_clean = test_clean.dropna()
test_clean.shape

(1334075, 73)

In [39]:
train_clean['TP_SEXO'] = preprocessing.LabelEncoder().fit_transform(train_clean['TP_SEXO'])
test_clean['TP_SEXO'] = preprocessing.LabelEncoder().fit_transform(test_clean['TP_SEXO'])

# Modelo

In [47]:
#Separando as variáveis dependentes e independentes do nosso modelo

x1 = train_clean.loc[:,['NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']]
y1=train_clean.loc[:,'NU_NOTA_CN']

x2 = train_clean.loc[:,['NU_NOTA_CN','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO']]
y2=train_clean.loc[:,'NU_NOTA_CH']

x3 = train_clean.loc[:,['NU_NOTA_CH','NU_NOTA_CN','NU_NOTA_MT','NU_NOTA_REDACAO']]
y3=train_clean.loc[:,'NU_NOTA_LC']

x4 = train_clean.loc[:,['NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']]
y4=train_clean.loc[:,'NU_NOTA_MT']

x5 = train_clean.loc[:,['NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_CN']]
y5=train_clean.loc[:,'NU_NOTA_REDACAO']

In [54]:
x_train = sm.add_constant(x1) 
model1 = sm.OLS(y1.astype(float), x_train.astype(float)).fit()

x_train = sm.add_constant(x2)
model2 = sm.OLS(y2.astype(float), x_train.astype(float)).fit()

x_train = sm.add_constant(x3)
model3 = sm.OLS(y3.astype(float), x_train.astype(float)).fit()

x_train = sm.add_constant(x4)
model4 = sm.OLS(y4.astype(float), x_train.astype(float)).fit()

x_train = sm.add_constant(x5)
model5 = sm.OLS(y5.astype(float), x_train.astype(float)).fit()

In [ ]:
matriz_correlacao = train_clean.corr()
matriz_correlacao.style.background_gradient(cmap='coolwarm')

In [55]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             NU_NOTA_CN   R-squared:                       0.567
Model:                            OLS   Adj. R-squared:                  0.567
Method:                 Least Squares   F-statistic:                 7.653e+05
Date:                Mon, 31 Jan 2022   Prob (F-statistic):               0.00
Time:                        16:44:00   Log-Likelihood:            -1.2462e+07
No. Observations:             2336557   AIC:                         2.492e+07
Df Residuals:                 2336552   BIC:                         2.492e+07
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              80.5964      0.281    287.000      0.000      80.046      81.147
NU_NOTA_CH          0.2641      0.001    406.800      0.000       0.263       0.265
NU_NOTA_LC          0.2408      0.001    289.865      0.000       0.239       0.242
NU_NOTA_MT          0.2189      0.000    546.971      0.000       0.218       0.220
NU_NOTA_REDACAO     0.0386      0.000    171.494      0.000       0.038       0.039
==============================================================================
Omnibus:                    42987.131   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            70616.407
Skew:                          -0.174   Prob(JB):                         0.00
Kurtosis:                       3.778   Cond. No.                     9.31e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.31e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [56]:
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             NU_NOTA_CH   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.638
Method:                 Least Squares   F-statistic:                 1.029e+06
Date:                Mon, 31 Jan 2022   Prob (F-statistic):               0.00
Time:                        16:44:29   Log-Likelihood:            -1.2400e+07
No. Observations:             2336557   AIC:                         2.480e+07
Df Residuals:                 2336552   BIC:                         2.480e+07
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.2380      0.278      0.856      0.392      -0.307       0.783
NU_NOTA_CN          0.2504      0.001    406.800      0.000       0.249       0.252
NU_NOTA_LC          0.5969      0.001    823.706      0.000       0.595       0.598
NU_NOTA_MT          0.1037      0.000    253.949      0.000       0.103       0.104
NU_NOTA_REDACAO     0.0415      0.000    189.606      0.000       0.041       0.042
==============================================================================
Omnibus:                   386429.455   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1600058.423
Skew:                          -0.774   Prob(JB):                         0.00
Kurtosis:                       6.747   Cond. No.                     9.34e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.34e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [57]:
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             NU_NOTA_LC   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.618
Method:                 Least Squares   F-statistic:                 9.447e+05
Date:                Mon, 31 Jan 2022   Prob (F-statistic):               0.00
Time:                        16:44:34   Log-Likelihood:            -1.1863e+07
No. Observations:             2336557   AIC:                         2.373e+07
Df Residuals:                 2336552   BIC:                         2.373e+07
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             200.5227      0.178   1126.639      0.000     200.174     200.872
NU_NOTA_CH          0.3770      0.000    823.706      0.000       0.376       0.378
NU_NOTA_CN          0.1442      0.000    289.865      0.000       0.143       0.145
NU_NOTA_MT          0.0621      0.000    190.279      0.000       0.061       0.063
NU_NOTA_REDACAO     0.0489      0.000    284.154      0.000       0.049       0.049
==============================================================================
Omnibus:                   376262.898   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1148547.448
Skew:                          -0.843   Prob(JB):                         0.00
Kurtosis:                       5.992   Cond. No.                     7.48e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.48e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [58]:
print(model4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             NU_NOTA_MT   R-squared:                       0.503
Model:                            OLS   Adj. R-squared:                  0.503
Method:                 Least Squares   F-statistic:                 5.900e+05
Date:                Mon, 31 Jan 2022   Prob (F-statistic):               0.00
Time:                        16:44:38   Log-Likelihood:            -1.3469e+07
No. Observations:             2336557   AIC:                         2.694e+07
Df Residuals:                 2336552   BIC:                         2.694e+07
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -31.7961      0.439    -72.396      0.000     -32.657     -30.935
NU_NOTA_CH          0.2590      0.001    253.949      0.000       0.257       0.261
NU_NOTA_LC          0.2456      0.001    190.279      0.000       0.243       0.248
NU_NOTA_CN          0.5184      0.001    546.971      0.000       0.517       0.520
NU_NOTA_REDACAO     0.0811      0.000    235.606      0.000       0.080       0.082
==============================================================================
Omnibus:                     4707.160   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4748.731
Skew:                           0.107   Prob(JB):                         0.00
Kurtosis:                       3.056   Cond. No.                     9.26e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.26e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [59]:
print(model5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        NU_NOTA_REDACAO   R-squared:                       0.368
Model:                            OLS   Adj. R-squared:                  0.368
Method:                 Least Squares   F-statistic:                 3.406e+05
Date:                Mon, 31 Jan 2022   Prob (F-statistic):               0.00
Time:                        16:44:43   Log-Likelihood:            -1.4943e+07
No. Observations:             2336557   AIC:                         2.989e+07
Df Residuals:                 2336552   BIC:                         2.989e+07
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -267.2715      0.807   -331.008      0.000    -268.854    -265.689
NU_NOTA_CH     0.3655      0.002    189.606      0.000       0.362       0.369
NU_NOTA_LC     0.6829      0.002    284.154      0.000       0.678       0.688
NU_NOTA_MT     0.2862      0.001    235.606      0.000       0.284       0.289
NU_NOTA_CN     0.3224      0.002    171.494      0.000       0.319       0.326
==============================================================================
Omnibus:                   362322.595   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           878546.670
Skew:                          -0.885   Prob(JB):                         0.00
Kurtosis:                       5.426   Cond. No.                     8.76e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.76e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred =  model1.predict(x_test) # predict out of sample
print(y_pred)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred2 =  model2.predict(x_test) # predict out of sample
print(y_pred2)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred3 =  model3.predict(x_test) # predict out of sample
print(y_pred3)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred4 =  model4.predict(x_test) # predict out of sample
print(y_pred4)

In [ ]:
#predições
x_test = sm.add_constant(test_clean)
y_pred5 =  model5.predict(x_test) # predict out of sample
print(y_pred5)